.chartContainer{
    margin: 1em auto auto auto;
    border-Radius: 10px;
    width: 35vw;
    min-height: 17em;
    background-image: linear-gradient(to right, #b1bdcf, #E0E5EC);
    box-Shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px #cad5e1;
    animation: fadeIn .5s ease;
}

.chartTitle{
    color: #192443;
    font-size: 2em;
    padding: .5em 0 0 .5em;
    font-weight: 600;
    text-align: left;
    animation: fadeIn 2s ease;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}

@media screen and (max-width: 1024px){
    .chartContainer{
        width: 85vw;
        margin-left: auto;
        margin-right: auto;
    }

}