.dashboard{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 4% 10% 10% 20%;
}

.welcome{
    grid-column: 1;
    grid-row: 1;
}

.item{
    grid-column: 1;
    grid-row: 1;
    grid-row-end: 2;
}

.chart{
    grid-column: 1;
    grid-row: 2;
}

.transactions{
    grid-column: 2;
    grid-row: 1;
}

@media screen and (max-width: 1024px){
    .dashboard{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 4% 4% 10% 20%;
    }
    .welcome{
        grid-column: 1;
        grid-row: 1;
    }
    
    .item{
        grid-column: 1;
        grid-row: 2;
    }
    
    .chart{
        grid-column: 1;
        grid-row: 3;
    }
    
    .transactions{
        grid-column: 1;
        grid-row: 4;
    } 
}