.welcome{
    color: #141c35;
    font-size: 3em;
    font-weight: 700;
    text-align: left;
    margin-top: .3em;
    margin-left: 1em;
    animation: fadeIn .5s ease;
}

.titles{
    color: #202e56;
    font-size: 2em;
    font-weight: 600;
    text-align: left;
    margin-top: .3em;
    margin-left: 1.5em;
    animation: fadeIn 1.3s ease;
}

.transaction{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    border-Radius: 10px;
    width: 80vw;
    height: 5.5em;
    /** background-Color: #e4e6e8; */
    background-image: linear-gradient( #ecf0f4, #E0E5EC);
    box-Shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px    rgba(255,255,255, 0.5);
    animation: fadeIn 1s ease;
}

.row{
    height: 3.5em;
    width: 100%;
    display: flex;
}

.row2{
    display: flex;
    width: 100%;
}

.account{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    border-Radius: 10px;
    width: 85vw;
    height: 17em;
    background-image: linear-gradient(to right, #b1bdcf, #E0E5EC);
    box-Shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px #cad5e1;
    animation: fadeIn 1.5s ease;
}

.dollarSign{
    color: #364148;
}

.mask{
    text-align: right;
    color: #364148;
    font-size: 1em;
}

.accountTitle{
    color: #192443;
    font-size: 2.5em;
    padding: .5em 0 0 .5em;
    font-weight: 600;
    text-align: left;
    animation: fadeIn 2s ease;
}

.accountSubtitle{
    color: #364148;
    font-size: 1em;
    padding: .5em 0 0 1.3em;
    font-weight: 500;
    text-align: left;
    animation: fadeIn 1.5s ease;
}

.balanceAvailable{
    color: #192443;
    font-size: 2.5em;
    padding: .2em 0 0 .5em;
    font-weight: 600;
    text-align: left;
    animation: fadeIn 2s ease;
}

.balanceAvailableText{
    color: #364148;
    font-size: 1em;
    padding: .5em 0 0 1.5em;
    font-weight: 400;
    text-align: left;
    animation: fadeIn 1.5s ease;
}

.balanceCurrent{
    color: #192443;
    font-size: 2.5em;
    padding: .2em 0 0 .5em;
    font-weight: 600;
    text-align: left;
    animation: fadeIn 2s ease;
}

.balanceCurrentText{
    color: #364148;
    font-size: 1em;
    padding: .5em 0 0 1.5em;
    font-weight: 400;
    text-align: left;
    animation: fadeIn 1.5s ease;
}

.transactionPrice{
    display: flex;
}

.transactionTitle{
    color: #364148;
    font-size: 1.3em;
    padding: 0em 0 0 1em;
    font-weight: 500;
    text-align: left;
    margin: auto;
    margin-top: 1em;
    flex: 5;
}

.transactionPrice{
    text-align: center;
    font-size: 1em;
    padding: 0em 0em 1em 0em;
    justify-content: center;
    color: #f5f5f5;
    font-weight: 600;
    flex: 1;
    min-width: 2em;
    height: .5em;
    margin-top: 1.3em;
    margin-bottom: auto;
    margin-right: .5em;
    border-radius: 5px;
    cursor: pointer;
    background-image: linear-gradient( #50bf85, #63c692);
    box-shadow: 9px 9px 16px #a1b0c5;
    animation: fadeIn 2s ease;

}

.transactionPriceRed{
    text-align: center;
    font-size: 1em;
    padding: 0em 0em 1em 0em;
    justify-content: center;
    color: #f5f5f5;
    font-weight: 600;
    flex: 1;
    min-width: 2em;
    height: .5em;
    margin-top: 1.3em;
    margin-bottom: auto;
    margin-right: .5em;
    border-radius: 5px;
    cursor: pointer;
    background-image: linear-gradient( #ef5350, #f16562);
    box-shadow: 9px 9px 16px #a1b0c5;
    animation: fadeIn 2s ease;

}

.category{
    text-align: left;
    padding-left: 3em;
    font-size: .5em;
    font-weight: 400;
    color: #364148;
    flex: 5;
}

.date{
    flex: 1;
    margin-right: .5em;
    font-size: .5em;
    font-weight: 400;
    color: #364148;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}