.welcome{
    color: #141c35;
    font-size: 3em;
    font-weight: 700;
    text-align: left;
    margin-top: .3em;
    animation: fadeIn 1s ease;
}

.link{
    text-decoration: none;
    color: #141c35;
}

.link:hover{
    text-decoration: none;
    color: #141c35;
}

.link:visited{
    text-decoration: none;
    color: #141c35;
}

.link:active{
    text-decoration: none;
    color: #141c35;
}


@keyframes fadeIn {
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}

@media screen and (max-width: 1024px){
    .welcome{
        margin-left: 1em;
    }

}