.chartContainer{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    border-Radius: 10px;
    width: 85vw;
    min-height: 17em;
    background-image: linear-gradient(to right, #b1bdcf, #E0E5EC);
    box-Shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px #cad5e1;
    animation: fadeIn 1.5s ease;
}

.chartTitle{
    color: #192443;
    font-size: 2em;
    padding: .5em 0 0 .5em;
    font-weight: 600;
    text-align: left;
    animation: fadeIn 2s ease;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}